.links {
    display: inline-block;
}


.button {
    display: inline-block;
    color:white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 30px;
}

.site-navbar {
    padding-top: 52px;
    padding-bottom: 40px;
    border: 1px
}


.nav-links .nav-link:not(:last-child) {
    margin-right: 40px;
}

.line {
    width: 100%;
    height:3px;
    background-color: #C8C8C8;
}

.site-header {
    border-bottom: 1px solid #C8C8C8;
}

.site-menu {
    justify-content: center;

}


.webinar {
    margin-top: 112px;
    margin-bottom: 122px;
}

.webinar-col {
    max-width: 805px;
    margin: 0 auto;
}

.webinar-title {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

.event {
    margin-bottom: 72px;
}

.image {
    position: relative;
    width: 100%;
    z-index: 1;
}

.img-star {
    z-index: 222;
    position: absolute;
    max-width: 100%;
    height:auto;
    right:-15px;
    top:-30px
}

.images-parent {
    position:relative;
}

@media only screen and (max-width: 768px) {
    .images-parent {
        height: 300px;
    }

    .image {
        height: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 575px) {
    .img-star {
        right:0px;
    }
}

.event-text {
    margin-top: 24px;
}

.event-title-content {
    font-size: 48px;
    font-weight: 900;
}

.event-date .event-date-content:not(:last-child)
{
    margin-right: 32px;
}

.event-date-content {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 14px;
}

.event-bio-content {
   font-size: 16px;
   font-weight: 400;
   color: #424245;
   margin-bottom: 22px;
}

.event-bio {
    max-width: 760px;
}

.event-title {
    max-width: 465px;
}

.event-button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
}

.speakers {
    margin-bottom: 25px;
}

.speakers-title {
    font-weight: 900;
    font-size: 60px;
    line-height: 81px;
    color: #151517;
    
}

.view-all-link {
    font-weight: 500;
    color:#424245;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    
}

.view-all-link:hover {
    color:#424245;
}

.speakers-head {
    border-bottom: 1px solid #C8C8C8;
    margin-bottom: 18;
    flex-wrap: wrap;
}

.speakers-profiles {
    margin-top: 40px;
    display:flex;
}

.speakers-overview {
    color: #151517;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.speaker-blue {
    background-color: #66A3FF;
    max-width: 445px;
    max-height: 576px;
}

.speaker-lblue {
    background-color: #BCD7FF;
    max-width: 445px;
    max-height: 576px;
}


.speaker-inner {
    display: flex;
    align-items: flex-end;
    height: 100%;
    z-index: 2;
    position: relative;
    max-width: 445px;
}

.speaker-text {
    z-index: 10;
    color: white;
    position: absolute;
    margin-left: 24px;
    margin-right: 24px;
    width: 86%;
    bottom:35px
}

.speaker-text span {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 12px;
}

.speaker-bio {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 0.5px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    
    
}

.speaker-bio p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin:0;
}

.speaker-item {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.speaker-img {
    max-width: 100%;
}

@media (max-width: 994px) {
    .speakers-profiles {
        flex-direction:column;
    }

    .speaker-item:not(:last-child) {
        margin-bottom: 25px;
    }
}

@media (max-width: 516px) {
    .speakers-title {
        font-size: 32px;
        line-height: 44px;
    }
    .event-title-content {
        font-size: 32px;
        line-height: 44px;
    }
    .view-all-link {
        font-size: 14px;
        line-height: 18px;
    }
}

.events {
    margin-top: 26;
}

.events-contents {
    display: flex;
    margin-top: 40px;
    
}

.events-img {
    max-width: 100%;
}

.events-pad {
    padding:18px;
}

.events-contents-inner {
    position:relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.events-contents-text {
    position:absolute;
    z-index: 10;
    color: white;
    bottom: 34px;
    margin-left: 14px;
    margin-right: 14px;
    width: 85%;
}

.events-contents-text span {
    font-weight: 900;
    font-size: 32px;
    line-height:44px;
    
}

.events-bio {
    margin-top: 12px;
    padding-top:8px;
    padding-bottom: 8px;
    max-width:100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.events-bio span {
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
}

.events-bio p {
    margin: 0;
}

.events-bio a{
    color: white;
    text-decoration: none;
}

.events-bio a:hover {
    color: white;
}

.events-bio a:active {
    color: white;
}

@media (max-width: 992px) {
    .events-contents {
        flex-direction: column;
    }
    .events-bio span {
        line-height: 22px;
        font-size: 24px;
    }
    .events-contents-inner:not(:last-child) {
        margin-bottom: 24px;
    }
}